<!-- Accepts enter key -->
<form name="$ctrl.Form" layout="column" flex ng-cloak>
    <!-- Column: Action bar, load error message and main content -->
    <md-dialog-content layout="column" flex>
        <!-- Row: Title, create button, save button, delete button and close button. -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 flex>Operation Registry</h3>
                <md-button id="create-button" class="md-icon-button"
                           ng-hide="$ctrl.load_error"
                           ng-click="$ctrl.commands.createMasterItem()">
                    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
                </md-button>
                <md-button id='save-button' class="md-icon-button" type='submit'
                           ng-hide="$ctrl.load_error || $ctrl.detail_load_error"
                           ng-disabled="!$ctrl.Form.$valid"
                           ng-click="$ctrl.commands.saveSelectedMasterItem()">
                    <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                </md-button>
                <md-button id="delete-button" class="md-icon-button"
                           ng-click="$ctrl.commands.deleteSelectedMasterItem('Are you sure you want to delete this operation?')"
                           ng-hide="$ctrl.load_error || $ctrl.is_delete_disabled">
                    <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                </md-button>
                <md-button id='close-button' ng-click="$ctrl.commands.close()" class="md-icon-button">
                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- Load error message; hides the content and only show close button if loading error occurs. -->
        <div id="load-error-message" class="alert alert-danger" ng-hide="!$ctrl.load_error">
            <strong>{{$ctrl.load_error.name}}:</strong> {{$ctrl.load_error.message}}
        </div>
        <!-- Row: Master list and detail content. -->
        <div id="main-content" layout="row" flex ng-hide="$ctrl.load_error">
            <!-- Master List -->
            <div id="master-container" layout="column" flex="40" md-whiteframe="4">
                <md-content flex>
                    <md-list flex>
                        <md-list-item ng-repeat="operation in $ctrl.data.selected"
                                      ng-click="$ctrl.commands.selectMasterItem(operation)">
                            <h4 class="name">{{ operation.name }}</h4>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>

            <!-- Column: Detail load error, write error and content.. -->
            <div id="detail-container" flex layout="column">
                <!-- This error occurs on selecting an item. -->
                <div id="detail-load-error-message" class="alert alert-danger" ng-hide="!$ctrl.detail_load_error">
                    <strong>{{$ctrl.detail_load_error.name}}:</strong> {{$ctrl.detail_load_error.message}}
                </div>
                <!-- This error occurs on saving -->
                <div id="save-error-message" class="alert alert-danger" ng-hide="!$ctrl.write_error">
                    <strong>{{$ctrl.write_error.name}}:</strong> {{$ctrl.write_error.message}}
                </div>
                <!-- Hides this if detail_load_error occurred. -->
                <md-content ng-hide="$ctrl.detail_load_error" layout="column" flex>
                    <md-input-container flex>
                        <label>Operation Name</label>
                        <input required name="name" ng-model="$ctrl.selected_item.name" md-auto-focus="true">
                        <div ng-messages="$ctrl.Form.name.$error" ng-show="$ctrl.Form.name.$touched">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </md-content>
            </div>
        </div>
    </md-dialog-content>
</form>