<!-- Toolbar -->
<md-toolbar>
    <div class="md-toolbar-tools">
        <!-- Title -->
        <h2 md-truncate flex>Grandsler Payroll System</h2>

        <!-- Menu -->
        <md-menu md-position-mode="target-right target" md-offset="-10 45">
            <!-- Trigger element is a md-button with an icon -->
            <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open Menu">
                <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="openChangePasswordDialog()">
                        <md-icon md-svg-icon="action:ic_account_circle_24px"></md-icon>
                        <span>Change Password</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="openSalaryCriteriaDialog()">
                        <md-icon md-svg-icon="action:ic_assignment_24px"></md-icon>
                        <span>Salary Criteria</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                        <md-button ng-click="openTimeShiftRegistryDialog()">
                        <md-icon md-svg-icon="action:ic_alarm_add_24px"></md-icon>
                        <span>Time-shift Registry</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>