<!-- Toolbar -->
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.onMenuPressed()">
            <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
        </md-button>
        <!-- Title -->
        <h2 flex>{{$ctrl.title}}</h2>
        <!-- Menu -->
        <md-menu md-position-mode="target-right target" md-offset="-10 45">
            <!-- Trigger element is a md-button with an icon -->
            <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open Menu">
                <md-icon md-svg-icon="action:ic_settings_24px"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="$ctrl.openChangePasswordDialog()">
                        <md-icon md-svg-icon="action:ic_account_circle_24px"></md-icon>
                        <span>Change Password</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-show="$ctrl.auth.user.hasPermission('Salary Criteria Registry')">
                    <md-button ng-click="$ctrl.openSalaryCriteriaDialog()">
                        <md-icon md-svg-icon="action:ic_assignment_24px"></md-icon>
                        <span>Salary Criteria</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.logOut()">
                        <md-icon md-svg-icon="action:ic_power_settings_new_24px"></md-icon>
                        <span>Log-out</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>