<link rel="stylesheet" href="./components/navigation_bar/navigation_bar.template.css">
<md-toolbar id="navigation-bar-toolbar">
    <h1 class="md-toolbar-tools">Modules</h1>
</md-toolbar>
<md-content flex>
    <md-list flex>
        <md-list-item ng-click="$ctrl.selectModule(module)" ng-repeat="module in $ctrl.modules">
            <div layout="column" flex>
                <div layout="row" flex>
                    <md-icon md-svg-icon="{{module.icon}}"></md-icon>
                    <h4 layout-padding flex>{{module.name}}</h4>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list-item>
    </md-list>
</md-content>