<!-- Query Parameters -->
<form>
    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex>Query Parameters</span>
                <md-button class="md-icon-button" type="submit" ng-click="$ctrl.commands.load()">
                    <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div class="query-parameters" layout="column">
            <md-input-container>
                <label>Employee Type</label>
                <md-select ng-model="$ctrl.query.employee_type">
                    <md-option ng-value="0" selected>All</md-option>
                    <md-option ng-value="'Time-based'">Time-based</md-option>
                    <md-option ng-value="'Output-based'">Output-based</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Status</label>
                <md-select ng-model="$ctrl.query.is_active">
                    <md-option ng-value="0" selected>All</md-option>
                    <md-option ng-value="true">Active</md-option>
                    <md-option ng-value="false">Inactive</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Position</label>
                <md-select ng-model="$ctrl.query.position_id">
                    <md-option ng-value="0" selected>All</md-option>
                    <md-option ng-value="position.id" ng-repeat="position in $ctrl.data.positions">{{position.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Name</label>
                <input ng-model="$ctrl.query.name" md-auto-focus="true" autofocus>
            </md-input-container>
        </div>
    </md-card>
</form>
<!-- Data Table -->
<md-card flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex>Employee Records</span>
            <md-button class="md-icon-button" ng-click="$ctrl.commands.create()">
                <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-row-select ng-model="$ctrl.data.selected" md-progress="$ctrl.data.progress">
            <thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.commands.load">
            <tr md-row>
                <th md-column md-order-by="id">ID</th>
                <th md-column md-order-by="last_name">Name</th>
                <th md-column md-order-by="employee_type">Employee Type</th>
                <th md-column md-order-by="Position.name">Position</th>
                <th md-column md-order-by="TimeShift.name">Time-shift</th>
                <th md-column>Granted Access</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr class="table-row" md-row ng-repeat="employee in $ctrl.data.selected">
                <td md-cell ng-click="$ctrl.commands.modify(employee)">{{employee.id}}</td>
                <td md-cell ng-click="$ctrl.commands.modify(employee)">{{employee.getFullName()}}</td>
                <td md-cell ng-click="$ctrl.commands.modify(employee)">{{employee.employee_type}}</td>
                <td md-cell ng-click="$ctrl.commands.modify(employee)">{{employee.Position.name}}</td>
                <td md-cell ng-click="$ctrl.commands.modify(employee)">{{employee.TimeShift.name}}</td>
                <td md-cell ng-click="$ctrl.commands.modify(employee)">{{employee.hasSystemAccess()}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="$ctrl.preset.limitOptions"
                         md-page="$ctrl.query.page" md-total="{{$ctrl.data.total_count}}"
                         md-on-paginate="$ctrl.commands.load" md-page-select>
    </md-table-pagination>
</md-card>