#detail-container md-content {
  padding: 24px;
  background-color: transparent;
}

#detail-container img {
  width: 200px;
  height: 200px;
}

#detail-container .img {
  margin: 24px;
}

#detail-container md-input-container {
  margin: 8px 24px;
}

#detail-container #position md-input-container {
  margin-right: 0px;
}

#detail-container #employment, #detail-container #employee-type {
  margin-top: 32px;
}