<form id='form' name="$ctrl.Form" flex>

    <md-dialog-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><span>Change Password</span></h3>
            </div>
        </md-toolbar>
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block">
                <label>Current Password</label>
                <input required name="current_password" ng-model="$ctrl.current_password"
                       compare-to="$ctrl.current_user_password">
                <div ng-messages="$ctrl.Form.current_password.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="compareTo">Please enter your current password.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>New Password</label>
                <input required name="new_password" ng-model="$ctrl.new_password">
                <div ng-messages="$ctrl.Form.new_password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirmation Password</label>
                <input required name="confirmation_password" ng-model="$ctrl.confirmation_password"
                       compare-to="$ctrl.new_password">
                <div ng-messages="$ctrl.Form.confirmation_password.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="compareTo">The confirmation password must match the new password.</div>
                </div>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button type='submit'
                   id='save-button' class="md-primary" ng-disabled="!$ctrl.Form.$valid" ng-click="$ctrl.save()">Save
        </md-button>
        <md-button id='cancel-button' ng-click="$ctrl.cancel()">Cancel</md-button>
    </md-dialog-actions>

</form>