<link rel="stylesheet" href="./components/main_app/main_app.template.css">
<div layout="row" layout-fill>
    <!-- Navigation Bar -->
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="true">
        <navigation-bar flex></navigation-bar>
    </md-sidenav>

    <!-- Main Content Container -->
    <div layout="column" flex>

        <!-- Action Bar -->
        <action-bar title="$ctrl.title"></action-bar>

        <!-- Main Content -->
        <md-content flex layout-padding layout="column">
            <ui-view></ui-view>
        </md-content>
    </div>

    <!-- Activity Logs -->
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')">
        <activity-logs flex></activity-logs>
    </md-sidenav>
</div>