<link rel="stylesheet" href="./components/main_app/main_app.template.css">
<div layout="row" layout-fill>
    <!-- Navigation Bar -->
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <navigation-bar on-menu-item-pressed="$ctrl.onMenuItemPressed(value)" flex></navigation-bar>
    </md-sidenav>

    <!-- Main Content Container -->
    <div layout="column" flex>

        <!-- Action Bar -->
        <action-bar title="$ctrl.title" on-menu-pressed="$ctrl.openNavigationBar()"></action-bar>

        <!-- Main Content -->
        <div flex layout="column">
            <ui-view layout="column" flex>
                <div layout="column" flex layout-align="center center">
                    <h3>To modify payroll settings, click the settings button at the top-right corner.</h3>
                    <h3>To access different modules, click the menu button at the top-left corner.</h3>
                </div>
            </ui-view>
        </div>
    </div>

    <div ui-view="right-side-nav"></div>
</div>