<link rel="stylesheet" href="./components/employment_history/employment_history.template.css">
<!-- Accepts enter key -->
<form name="$ctrl.Form" layout="column" flex ng-cloak>
    <!-- Column: Action bar, load error message and main content -->
    <md-dialog-content layout="column" flex>
        <!-- Row: Title, create button, save button, delete button and close button. -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 flex><strong>Employment History: </strong>{{$ctrl.selectedEmployee.getFullName()}}</h3>
                <md-button id="create-button" class="md-icon-button"
                           ng-hide="$ctrl.load_error"
                           ng-click="$ctrl.commands.createMasterItem()">
                    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
                </md-button>
                <md-button id='save-button' class="md-icon-button" type='submit'
                           ng-hide="$ctrl.load_error || $ctrl.detail_load_error"
                           ng-disabled="!$ctrl.Form.$valid"
                           ng-click="$ctrl.commands.saveSelectedMasterItem()">
                    <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                </md-button>
                <md-button id="delete-button" class="md-icon-button"
                           ng-click="$ctrl.commands.deleteSelectedMasterItem('Are you sure you want to delete this employment history?')"
                           ng-hide="$ctrl.load_error || $ctrl.detail_load_error || $ctrl.is_delete_disabled">
                    <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                </md-button>
                <md-button id='close-button' ng-click="$ctrl.commands.close()" class="md-icon-button">
                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- Load error message; hides the content and only show close button if loading error occurs. -->
        <div id="load-error-message" class="alert alert-danger" ng-hide="!$ctrl.load_error">
            <strong>{{$ctrl.load_error.name}}:</strong> {{$ctrl.load_error.message}}
        </div>
        <!-- Row: Master list and detail content. -->
        <div id="main-content" layout="row" flex ng-hide="$ctrl.load_error">
            <!-- Master List -->
            <div id="master-container" layout="column" flex="30" md-whiteframe="4">
                <md-content flex>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-repeat="employmentHistory in $ctrl.data.selected"
                                      ng-click="$ctrl.commands.selectMasterItem(employmentHistory)">
                            <div class="md-list-item-text">
                                <h3>From {{ employmentHistory.getDateHired() }}</h3>
                                <p ng-show="employmentHistory.date_released">To {{ employmentHistory.getDateReleased() }}</p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>

            <!-- Column: Detail load error, write error and content.. -->
            <div id="detail-container" flex layout="column">
                <!-- This error occurs on selecting an item. -->
                <div id="detail-load-error-message" class="alert alert-danger" ng-hide="!$ctrl.detail_load_error">
                    <strong>{{$ctrl.detail_load_error.name}}:</strong> {{$ctrl.detail_load_error.message}}
                </div>
                <!-- This error occurs on saving -->
                <div id="save-error-message" class="alert alert-danger" ng-hide="!$ctrl.write_error">
                    <strong>{{$ctrl.write_error.name}}:</strong> {{$ctrl.write_error.message}}
                </div>
                <!-- Hides this if detail_load_error occurred. -->
                <md-content ng-hide="$ctrl.detail_load_error" layout="column" flex>
                    <div layout="row" flex>
                        <md-input-container flex>
                            <label>Date Hired</label>
                            <md-datepicker required ng-model="$ctrl.selected_item.date_hired"
                                           md-placeholder="Date hired" md-open-on-focus></md-datepicker>
                            <div ng-messages="$ctrl.Form.date_hired.$error" ng-show="$ctrl.Form.date_hired.$touched">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Date Released</label>
                            <md-datepicker ng-model="$ctrl.selected_item.date_released"
                                           md-placeholder="Date released" md-open-on-focus></md-datepicker>
                        </md-input-container>
                    </div>
                    <md-input-container flex>
                        <label>Memo</label>
                        <textarea name="memo" ng-model="$ctrl.selected_item.memo"></textarea>
                    </md-input-container>
                </md-content>
            </div>
        </div>
    </md-dialog-content>
</form>