#master-container md-list-item.is_unfinished {
  border-left: 6px solid #2196F3;
}

#master-container md-list-item.is_finished {
  border-left: 6px solid limegreen;
}

#detail-container md-toolbar {
  background-color: #2C80D2;
}

#detail-container md-content {
  padding: 0px 24px;
  background-color: transparent;
  margin-bottom: 48px;
}

#detail-container header {
  margin-bottom: 16px;
}

#detail-container md-input-container {
  margin: 8px 0px;
}

#detail-container header.line-header {
  border-left: 6px solid #2196F3;
  padding: 0.01em 16px;
  background-color: #ddffff;
  color: black;
  margin-bottom: 24px;
}

.md-table-pagination {
  padding: 0px;
  display: -webkit-box;
}

.md-table-pagination md-select {
  min-width: 30px;
}

.md-table-pagination>.buttons:not(:first-child), .md-table-pagination>.limit-select:not(:first-child) {
  margin-left: 0px;
}

md-autocomplete {
  background-color: transparent;
}

md-autocomplete md-autocomplete-wrap {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
}

md-autocomplete button,
md-autocomplete md-icon {
  display: none;
}

.query-parameters {
  height: 150px;
}

.sub-banner {
  background-color: #ddffff;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}