<link rel="stylesheet" href="./components/production_order/production_order.template.css">
<!-- Load error message; hides the content and saveSelectedMasterItem button if loading error occurs. -->
<div id="load-error-message" class="alert alert-danger" ng-hide="!$ctrl.load_error">
    <strong>{{$ctrl.load_error.name}}:</strong> {{$ctrl.load_error.message}}
</div>

<!-- Row: Master and detail. -->
<div id="main-content" layout="row" flex>
    <!-- Column: Query parameters and master list. -->
    <div id="master-container" layout="column" flex="40" md-whiteframe="4">
        <!-- TODO: Query Parameters -->
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools" flex>
                <form layout="row" flex>
                    <input flex type="text" ng-model="$ctrl.query.name" md-auto-focus="true"
                           placeholder="Search Employee Name">
                    <md-button class="md-icon-button" ng-click="$ctrl.showFilter = !$ctrl.showFilter">
                        <md-icon md-svg-icon="content:ic_filter_list_24px"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" type="submit" ng-click="$ctrl.commands.load()">
                        <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="$ctrl.commands.createMasterItem()">
                        <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
                    </md-button>
                </form>
            </div>
            <div class="query-parameters" layout="column" ng-show="$ctrl.showFilter">
                <md-input-container>
                    <label>Employee Type</label>
                    <md-select ng-model="$ctrl.query.employee_type">
                        <md-option ng-value="0" selected>All</md-option>
                        <md-option ng-value="'Time-based'">Time-based</md-option>
                        <md-option ng-value="'Output-based'">Output-based</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Status</label>
                    <md-select ng-model="$ctrl.query.is_active">
                        <md-option ng-value="0" selected>All</md-option>
                        <md-option ng-value="true">Active</md-option>
                        <md-option ng-value="false">Inactive</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Position</label>
                    <md-select ng-model="$ctrl.query.position_id">
                        <md-option ng-value="0" selected>All</md-option>
                        <md-option ng-value="position.id" ng-repeat="position in $ctrl.data.positions">{{position.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="$ctrl.auth.user.hasPermission('User Management')">
                    <label>Has User Access</label>
                    <md-select ng-model="$ctrl.query.has_user_access">
                        <md-option ng-value="0" selected>All</md-option>
                        <md-option ng-value="true">Yes</md-option>
                        <md-option ng-value="false">No</md-option>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="$ctrl.preset.limitOptions"
                                 md-page="$ctrl.query.page" md-total="{{$ctrl.data.total_count}}"
                                 md-on-paginate="$ctrl.commands.load" md-page-select>
            </md-table-pagination>
        </md-toolbar>
        <!-- TODO: Quantity Out; tooltip for quantity 1,2,3,4,5 of operations -->
        <md-content flex ng-hide="$ctrl.load_error">
            <md-list flex>
                <md-list-item ng-repeat="productionOrder in $ctrl.data.selected"
                              ng-click="$ctrl.commands.selectMasterItem(productionOrder)">
                    <table style="width: 100%;">
                        <tr>
                            <td colspan="2"><strong>Batch:&nbsp;</strong>{{productionOrder.id}}</td>
                        </tr>
                        <tr>
                            <td><strong>Stock Code:&nbsp;</strong>{{productionOrder.StockCode.name}}</td>
                            <td><strong>Employee:&nbsp;</strong>{{productionOrder.Employee.getFullName()}}</td>
                        </tr>
                        <tr>
                            <td><strong>Color:&nbsp;</strong>{{productionOrder.Color.name}}</td>
                            <td><strong>Quantity In:&nbsp;</strong>{{productionOrder.dozen_quantity}}x12,{{productionOrder.piece_quantity}}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Size:&nbsp;</strong>{{productionOrder.Size.name}}</td>
                            <td><strong>Quantity Out:&nbsp;</strong>(TODO: 5x12,2)</td>
                        </tr>
                    </table>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <!-- Column: Detail load error, write error and content.. -->
    <div id="detail-container" flex layout="column" ng-hide="$ctrl.load_error">
        <!-- This error occurs on selecting an item. -->
        <div id="detail-load-error-message" class="alert alert-danger" ng-hide="!$ctrl.detail_load_error">
            <strong>{{$ctrl.detail_load_error.name}}:</strong> {{$ctrl.detail_load_error.message}}
        </div>
        <!-- This error occurs on saving -->
        <div id="save-error-message" class="alert alert-danger" ng-hide="!$ctrl.write_error">
            <strong>{{$ctrl.write_error.name}}:</strong> {{$ctrl.write_error.message}}
        </div>
        <!-- Hides these two if detail_load_error occurred. -->
        <md-toolbar ng-hide="$ctrl.detail_load_error">
            <div class="md-toolbar-tools" flex>
                <h2 flex>Batch: {{$ctrl.selected_item.id}}</h2>
                <md-button class="md-icon-button" type='submit'
                           ng-hide="$ctrl.detail_load_error"
                           ng-disabled="!$ctrl.Form.$valid"
                           ng-click="$ctrl.commands.saveSelectedMasterItem()">
                    <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                </md-button>
                <md-button class="md-icon-button"
                           ng-click="$ctrl.commands.deleteSelectedMasterItem('Are you sure you want to delete this position?')"
                           ng-hide="$ctrl.is_delete_disabled">
                    <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content ng-hide="$ctrl.detail_load_error" layout="column" flex>
            <form name="$ctrl.Form">
                <md-list flex>
                    <md-list-item ng-repeat="(operation_index, operation) in $ctrl.selected_item.detail">
                        <div layout="column">
                            <header>
                                <h3>Operation {{operation_index + 1}}: {{operation.name}}</h3>
                                <span>Quantity Remaining: {{operation.dozen_quantity_remaining}}x12,{{operation.piece_quantity_remaining}}</span>
                            </header>
                            <div layout="column" ng-repeat="line in operation.lines">
                                <header ng-if="line.previous_production_line">
                                    <h4>{{line.previous_production_line.date_finished | date:'MM/dd/yyyy'}} </h4>
                                    <h5>{{line.previous_production_line.Employee.getFullName()}}: {{line.previous_production_line.dozen_quantity}}x12,{{line.previous_production_line.piece_quantity}}</h5>
                                </header>
                                <div layout="row" ng-repeat="production_line in line.production_lines">
                                    <md-input-container flex>
                                        <label>Date Finished</label>
                                        <md-datepicker required
                                                       name="date_finished_{{operation_index}}_{{$index}}"
                                                       ng-model="production_line.date"
                                                       md-placeholder="Date finished"
                                                       md-open-on-focus></md-datepicker>
                                        <div ng-messages="$ctrl.Form['date_finished_' + operation_index + '_' + $index].$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Employee</label>
                                        <md-autocomplete
                                                required
                                                md-require-match
                                                md-input-name="employee_{{operation_index}}_{{$index}}"
                                                md-min-length="0"
                                                md-items="employee in $ctrl.commands.autocomplete.queryEmployee(production_line.search_employee)"
                                                md-item-text="employee.getFullName()"
                                                md-selected-item="production_line.Employee"
                                                md-search-text="production_line.search_employee">
                                            <md-item-template>
                                                    <span md-highlight-text="$ctrl.search_employee"
                                                          md-highlight-flags="^i">{{employee.getFullName()}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                <span>'{{$ctrl.search_employee}}' cannot be found.</span>
                                            </md-not-found>
                                        </md-autocomplete>
                                        <div ng-messages="$ctrl.Form['employee_' + operation_index + '_' + $index].$error"
                                             ng-show="$ctrl.Form['employee_' + operation_index + '_' + $index].$touched">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-require-match">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="30" layout="row">
                                        <md-input-container>
                                            <label>Dozen Qty.</label>
                                            <input required name="dozen_quantity_{{operation_index}}_{{$index}}"
                                                   type="number"
                                                   ng-model="production_line.dozen_quantity"
                                                   ng-change="$ctrl.commands.computeQuantityRemaining(operation)">
                                            </input>
                                            <div ng-messages="$ctrl.Form['dozen_quantity_' + operation_index + '_' + $index].$error"
                                                 ng-show="$ctrl.Form['dozen_quantity_' + operation_index + '_' + $index].$touched">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Piece Qty.</label>
                                            <input required name="piece_quantity_{{operation_index}}_{{$index}}"
                                                   type="number"
                                                   ng-model="production_line.piece_quantity"
                                                   ng-change="$ctrl.commands.computeQuantityRemaining(operation)">
                                            </input>
                                            <div ng-messages="$ctrl.Form['piece_quantity_' + operation_index + '_' + $index].$error"
                                                 ng-show="$ctrl.Form['piece_quantity_' + operation_index + '_' + $index].$touched">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column" layout-align="center end">
                                        <md-button class="md-icon-button"
                                                   ng-click="$ctrl.commands.deleteLine(line.production_lines, production_line, 'Are you sure you want to delete this production line?')">
                                            <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" layout-margin>
                                    <md-button class="md-primary" ng-click="$ctrl.commands.createNewLine(lines.lines)">
                                        Add production line
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
                <input hidden type="submit" ng-click="$ctrl.commands.saveSelectedMasterItem()">
            </form>
        </md-content>
    </div>

    <!-- Create new batch -->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="create-dialog">
            <md-dialog flex="60" ng-cloak>
                <!-- Accept enter key -->
                <form name="$ctrl.CreateForm">
                    <!-- 1st sibling: Contains the content of the dialog -->
                    <md-dialog-content layout="column">
                        <!-- Title bar -->
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <h3 flex>New production order</h3>
                                <!-- Action buttons -->
                                <md-button class="md-icon-button"
                                           type='submit'
                                           ng-disabled="!$ctrl.CreateForm.$valid"
                                           ng-click="$ctrl.commands.saveSelectedMasterItem()">
                                    <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                                </md-button>
                                <md-button id='close-button' ng-click="$ctrl.commands.close()" class="md-icon-button">
                                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <!-- Form -->
                        <md-content flex layout="column" layout-padding>
                            <!-- This error occurs on saving -->
                            <div id="write-error-message" class="alert alert-danger" ng-hide="!$ctrl.write_error">
                                <strong>{{$ctrl.write_error.name}}:</strong> {{$ctrl.write_error.message}}
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Stock Code</label>
                                    <md-autocomplete
                                            required
                                            md-require-match
                                            md-autofocus
                                            md-input-name="stock_code"
                                            md-min-length="0"
                                            md-items="stock_code in $ctrl.commands.autocomplete.queryStockCode($ctrl.search_stock_code)"
                                            md-item-text="stock_code.name"
                                            md-selected-item="$ctrl.selected_item.stock_code"
                                            md-search-text="$ctrl.search_stock_code">
                                        <md-item-template>
                                            <span md-highlight-text="$ctrl.search_stock_code" md-highlight-flags="^i">{{stock_code.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            <span>'{{$ctrl.search_stock_code}}' cannot be found.</span>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <div ng-messages="$ctrl.CreateForm.stock_code.$error"
                                         ng-show="$ctrl.CreateForm.stock_code.$touched">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-require-match">This is required.</div>
                                    </div>
                                </md-input-container>
                                <md-button layout-align="center center"
                                           style="height: inherit;"
                                           ng-show="$ctrl.auth.user.hasPermission('Stock Code Registry')"
                                           class="md-icon-button" ng-click="$ctrl.commands.openStockCodeRegistry()">
                                    <md-icon md-svg-icon="image:ic_edit_24px"></md-icon>
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Color</label>
                                    <md-autocomplete
                                            required
                                            md-require-match
                                            md-input-name="color"
                                            md-min-length="0"
                                            md-items="color in $ctrl.commands.autocomplete.queryColor($ctrl.search_color)"
                                            md-item-text="color.name"
                                            md-selected-item="$ctrl.selected_item.color"
                                            md-search-text="$ctrl.search_color">
                                        <md-item-template>
                                            <span md-highlight-text="$ctrl.search_color" md-highlight-flags="^i">{{color.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            <span>'{{$ctrl.search_color}}' cannot be found.</span>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <div ng-messages="$ctrl.CreateForm.color.$error"
                                         ng-show="$ctrl.CreateForm.color.$touched">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-require-match">This is required.</div>
                                    </div>
                                </md-input-container>
                                <md-button layout-align="center center"
                                           style="height: inherit;"
                                           ng-show="$ctrl.auth.user.hasPermission('Color Registry')"
                                           class="md-icon-button" ng-click="$ctrl.commands.openColorRegistry()">
                                    <md-icon md-svg-icon="image:ic_edit_24px"></md-icon>
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Size</label>
                                    <md-autocomplete
                                            required
                                            md-require-match
                                            md-input-name="size"
                                            md-min-length="0"
                                            md-items="size in $ctrl.commands.autocomplete.querySize($ctrl.search_size)"
                                            md-item-text="size.name"
                                            md-selected-item="$ctrl.selected_item.size"
                                            md-search-text="$ctrl.search_size">
                                        <md-item-template>
                                            <span md-highlight-text="$ctrl.search_size" md-highlight-flags="^i">{{size.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            <span>'{{$ctrl.search_size}}' cannot be found.</span>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <div ng-messages="$ctrl.CreateForm.size.$error"
                                         ng-show="$ctrl.CreateForm.size.$touched">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-require-match">This is required.</div>
                                    </div>
                                </md-input-container>
                                <md-button layout-align="center center"
                                           style="height: inherit;"
                                           ng-show="$ctrl.auth.user.hasPermission('Size Registry')"
                                           class="md-icon-button" ng-click="$ctrl.commands.openSizeRegistry()">
                                    <md-icon md-svg-icon="image:ic_edit_24px"></md-icon>
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Employee</label>
                                    <md-autocomplete
                                            required
                                            md-require-match
                                            md-input-name="employee"
                                            md-min-length="0"
                                            md-items="employee in $ctrl.commands.autocomplete.queryEmployee($ctrl.search_employee)"
                                            md-item-text="employee.getFullName()"
                                            md-selected-item="$ctrl.selected_item.employee"
                                            md-search-text="$ctrl.search_employee">
                                        <md-item-template>
                                            <span md-highlight-text="$ctrl.search_employee" md-highlight-flags="^i">{{employee.getFullName()}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            <span>'{{$ctrl.search_employee}}' cannot be found.</span>
                                        </md-not-found>
                                    </md-autocomplete>
                                    <div ng-messages="$ctrl.CreateForm.employee.$error"
                                         ng-show="$ctrl.CreateForm.employee.$touched">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-require-match">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Dozen quantity</label>
                                    <input required name="dozen_quantity" type="number"
                                           ng-model="$ctrl.selected_item.dozen_quantity">
                                    </input>
                                    <div ng-messages="$ctrl.CreateForm.dozen_quantity.$error"
                                         ng-show="$ctrl.CreateForm.dozen_quantity.$touched">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Piece quantity</label>
                                    <input required name="piece_quantity" type="number"
                                           ng-model="$ctrl.selected_item.piece_quantity">
                                    </input>
                                    <div ng-messages="$ctrl.CreateForm.piece_quantity.$error"
                                         ng-show="$ctrl.CreateForm.piece_quantity.$touched">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-dialog-content>
                </form>
            </md-dialog>
        </div>
    </div>
</div>