#detail-container md-content {
  padding: 24px;
  background-color: transparent;
}

#detail-container md-input-container {
  margin: 8px 24px;
}

#detail-container #employment, #detail-container #employee-type {
  margin-top: 32px;
}

.md-table-pagination {
  padding: 0px;
}

.md-table-pagination>.buttons:not(:first-child), .md-table-pagination>.limit-select:not(:first-child) {
  margin-left: 0px;
}

#create-dialog md-input-container {
  margin-bottom: 0px;
}

#create-dialog md-autocomplete {
  background-color: transparent;
}

#create-dialog md-autocomplete md-autocomplete-wrap {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#create-dialog md-autocomplete button,
#create-dialog md-autocomplete md-icon {
  display: none;
}