#detail-container md-toolbar {
  background-color: #2C80D2;
}

#detail-container md-content {
  padding: 0px 24px;
  background-color: transparent;
}

#detail-container header {
  margin-bottom: 16px;
}

#detail-container md-input-container {
  margin: 8px 0px;
}

.md-table-pagination {
  padding: 0px;
}

.md-table-pagination>.buttons:not(:first-child), .md-table-pagination>.limit-select:not(:first-child) {
  margin-left: 0px;
}

#create-dialog md-input-container {
  margin-bottom: 0px;
}

md-autocomplete {
  background-color: transparent;
}

md-autocomplete md-autocomplete-wrap {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

md-autocomplete button,
md-autocomplete md-icon {
  display: none;
}